main {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

.container {
    background-color: rgb(255, 198, 0);
    border: 2px solid black;
    border-radius: 12px;
    padding: 20px;
    width: 500px;
    height: auto;
}

.title {
    text-decoration: underline;
    font-weight: 600;
    padding: 10px;
}

#result {
    margin-top: 20px;
}